In [21]:
import pandas as pd
import xarray as xr
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
import cartopy.crs as ccrs
import pysplit
import geopandas as gpd
from datetime import datetime

In [22]:
from __future__ import division

In [23]:
import sys
sys.stdout = open('output.txt', 'w')

In [24]:
df = pd.read_csv('wet_lag+1.csv')

In [25]:
df

,Unnamed: 0.1,Unnamed: 0,time,lat,lon,onset,year,month,day
0,0,0,1960-07-09,8.50,104.75,1.0,1960,7,9
1,1,1,1960-07-10,8.50,104.75,1.0,1960,7,10
2,2,2,1960-07-11,8.50,104.75,1.0,1960,7,11
3,3,3,1960-07-12,8.50,104.75,1.0,1960,7,12
4,4,4,1960-07-13,8.50,104.75,1.0,1960,7,13
...,...,...,...,...,...,...,...,...,...
886104,886104,886104,2022-09-19,33.75,94.75,1.0,2022,9,19
886105,886105,886105,2022-09-20,33.75,94.75,1.0,2022,9,20
886106,886106,886106,2022-09-21,33.75,94.75,1.0,2022,9,21
886107,886107,886107,2022-09-22,33.75,94.75,1.0,2022,9,22
886108,886108,886108,2022-09-23,33.75,94.75,1.0,2022,9,23

In [26]:
year = df['year']
month = df['month']
day = df['day']
lat = df['lat']
lon = df['lon']

In [27]:
working_dir = 'C:/GGGG/hysplit/working'
output_dir = 'D:/run2/lag+1/0-40'
meteo_dir = 'D:/ncepncar'

for i in range(0,400000):
    pysplit.generate_bulktraj(basename =(str(i))+'_'+str(lat[i])+str(lon[i]), 
                              hysplit_working = working_dir,
                              output_dir = output_dir, 
                              meteo_dir = meteo_dir,
                              years = [year[i]],
                              months = [month[i]],
                              hours = [0],  
                              altitudes = [3000], 
                              coordinates = (lat[i], lon[i]), 
                              run = -216,
                              monthslice = slice(day[i]-1,(day[i])),
                              meteo_bookends=([1], [1]),
                              get_clipped=False, 
                              get_reverse=False,
                              meteoyr_2digits=False,
                              outputyr_2digits=False,
                              hysplit = 'C:/GGGG/hysplit/exec/hyts_std')